<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    <title>Weather in {{ city }}</title>
</head>
<body>
    <main>
        <div class="result">
            <h1>Miasto: {{ city }}</h1>
            <p>Temperatura: {{ temperature }} °C</p>
            <p>Temperatura odczuwalna: {{Feels_temperature}}°C</p>
            <p>Warunki: {{ weather_description }}</p>
            <p>Wilgotność: {{humidity}}%</p>
            <p>Data pomiaru: {{dt}}</p>
        </div>
    </main>
</body>
</html>